<div class="alert alert-danger" style="color:white">
  <h1>USER ERROR LOGIN</h1>
  <h3>Credenciales incorrectas</h3>
</div>
<script>
  setTimeout(() => window.location.href = '/login', 3000);
</script>