<div class="alert alert-danger" style="color:white">
  <h1>USER ERROR SIGN UP</h1>
  <h3>El usuario que está intentando registrar ya existe!</h3>
</div>
<script>
  setTimeout(() => window.location.href = '/register', 3000);
</script>